In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import xlsxwriter as xls

In [2]:
data_df = pd.read_csv('data.csv')
data_df.head()

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0.0594,1921,0.982,"['Sergei Rachmaninoff', 'James Levine', 'Berli...",0.279,831667,0.211,0,4BJqT0PrAfrxzMOxytFOIz,0.878000,10,0.665,-20.096,1,"Piano Concerto No. 3 in D Minor, Op. 30: III. ...",4,1921,0.0366,80.954
1,0.9630,1921,0.732,['Dennis Day'],0.819,180533,0.341,0,7xPhfUan2yNtyFG0cUWkt8,0.000000,7,0.160,-12.441,1,Clancy Lowered the Boom,5,1921,0.4150,60.936
2,0.0394,1921,0.961,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.328,500062,0.166,0,1o6I8BglA6ylDMrIELygv1,0.913000,3,0.101,-14.850,1,Gati Bali,5,1921,0.0339,110.339
3,0.1650,1921,0.967,['Frank Parker'],0.275,210000,0.309,0,3ftBPsC5vPBKxYSee08FDH,0.000028,5,0.381,-9.316,1,Danny Boy,3,1921,0.0354,100.109
4,0.2530,1921,0.957,['Phil Regan'],0.418,166693,0.193,0,4d6HGyGT8e121BsdKmw9v6,0.000002,3,0.229,-10.096,1,When Irish Eyes Are Smiling,2,1921,0.0380,101.665

In [3]:
mask = data_df.artists.apply(lambda x: 'Kendrick Lamar' in x)
KL_df = data_df[mask]
mask = data_df.artists.apply(lambda x: 'Frank Ocean' in x)
FO_df = data_df[mask]
mask = data_df.artists.apply(lambda x: 'Pharrell Williams' in x)
PW_df = data_df[mask]

In [4]:
KL_df.drop(['duration_ms', 'acousticness', 'popularity', 'explicit', 'id', 'instrumentalness', 'loudness', 'speechiness', 'liveness', 'artists'], axis = 1, inplace = True)
FO_df.drop(['duration_ms', 'acousticness', 'popularity', 'explicit', 'id', 'instrumentalness', 'loudness', 'speechiness', 'liveness', 'artists'], axis = 1, inplace = True)
PW_df.drop(['duration_ms', 'acousticness', 'popularity', 'explicit', 'id', 'instrumentalness', 'loudness', 'speechiness', 'liveness', 'artists'], axis = 1, inplace = True)

In [5]:
KL_df.query('year>2011 and year<2016', inplace = True)
FO_df.query('year>2011 and year<2016', inplace = True)
PW_df.query('year>2011 and year<2016', inplace = True)

In [6]:
KL_df = KL_df[KL_df['release_date'].map(len) > 9]
KL_df.sort_values(by='release_date', inplace = True)

FO_df = FO_df[FO_df['release_date'].map(len) > 9]
FO_df.sort_values(by='release_date', inplace = True)

PW_df = PW_df[PW_df['release_date'].map(len) > 9]
PW_df.sort_values(by='release_date', inplace = True)

In [7]:
KL_df.drop_duplicates(subset='name', keep="first", inplace = True)
FO_df.drop_duplicates(subset='name', keep="first", inplace = True)
PW_df.drop_duplicates(subset='name', keep="first", inplace = True)

In [8]:
KL_df = KL_df[['year', 'release_date', 'name', 'valence', 'energy', 'danceability', 'key', 'mode', 'tempo']]
KL_df.head()

,year,release_date,name,valence,energy,danceability,key,mode,tempo
18049,2012,2012-01-01,Swimming Pools (Drank),0.1890,0.447,0.577,8,1,74.236
153947,2012,2012-01-01,See No Evil,0.0749,0.440,0.489,9,1,156.807
18117,2012,2012-03-23,Fight the Feeling,0.8110,0.881,0.569,11,0,148.067
107080,2012,2012-05-11,Illuminate (feat. Kendrick Lamar),0.5040,0.855,0.719,3,0,132.830
37180,2013,2013-01-01,Stay Ready (What A Life),0.3080,0.493,0.347,8,0,82.887

In [9]:
FO_df = FO_df[['year', 'release_date', 'name', 'valence', 'energy', 'danceability', 'key', 'mode', 'tempo']]
FO_df.head()

,year,release_date,name,valence,energy,danceability,key,mode,tempo
123208,2012,2012-01-01,Thinkin Bout You,0.2160,0.3290,0.726,0,1,129.844
90592,2012,2012-03-16,"Analog 2 (feat. Tyler, The Creator, Frank Ocea...",0.2620,0.6730,0.599,1,1,148.044
55694,2012,2012-03-16,White (feat. Frank Ocean),0.1970,0.0671,0.510,3,0,106.017
90631,2012,2012-07-10,Start,0.0316,0.3300,0.347,7,1,82.850
90572,2012,2012-07-10,Not Just Money,0.1030,0.8270,0.357,11,0,152.130

In [10]:
PW_df = PW_df[['year', 'release_date', 'name', 'valence', 'energy', 'danceability', 'key', 'mode', 'tempo']]
PW_df.head()

,year,release_date,name,valence,energy,danceability,key,mode,tempo
18293,2013,2013-01-01,Blurred Lines,0.843,0.599,0.853,7,1,119.993
90894,2013,2013-01-01,Feds Watching,0.759,0.875,0.790,7,1,139.985
18326,2013,2013-04-01,IFHY (feat. Pharrell),0.274,0.716,0.360,7,1,86.001
18290,2013,2013-04-19,Get Lucky (feat. Pharrell Williams & Nile Rodg...,0.862,0.811,0.794,6,0,116.047
18334,2013,2013-05-17,Get Lucky (feat. Pharrell Williams & Nile Rodg...,0.863,0.793,0.810,6,0,116.049

In [11]:
KL_df['release_date'] = KL_df['release_date'].map(lambda x: x[5:7])
KL_df.rename(columns={'release_date':'month'}, inplace = True)

FO_df['release_date'] = FO_df['release_date'].map(lambda x: x[5:7])
FO_df.rename(columns={'release_date':'month'}, inplace = True)

PW_df['release_date'] = PW_df['release_date'].map(lambda x: x[5:7])
PW_df.rename(columns={'release_date':'month'}, inplace = True)

In [12]:
KL_df.set_index(['year', 'month', 'name'], inplace = True)
FO_df.set_index(['year', 'month', 'name'], inplace = True)
PW_df.set_index(['year', 'month', 'name'], inplace = True)

In [13]:
array = [['vibe', 'vibe', 'vibe', 'composition', 'composition', 'composition'],['valence', 'energy', 'danceability', 'key', 'mode', 'tempo']]
KL_df.columns = pd.MultiIndex.from_arrays(array)
FO_df.columns = pd.MultiIndex.from_arrays(array)
PW_df.columns = pd.MultiIndex.from_arrays(array)

In [80]:
def vibecolor(value):
    if value >= 0.75:
        color = 'background-color:green'
    elif value < 0.75 and value >= 0.50:
        color = 'background-color:yellow'
    elif value < 0.5:
        color = 'background-color:red'
    return color

In [85]:
KL_df = KL_df.style.applymap(lambda x: vibecolor(x), subset=['vibe']) 
FO_df = FO_df.style.applymap(lambda x: vibecolor(x), subset=['vibe'])
PW_df = PW_df.style.applymap(lambda x: vibecolor(x), subset=['vibe'])

In [92]:
with pd.ExcelWriter('excel_export.xlsx') as writer:  
    KL_df.to_excel(writer, sheet_name = 'Kendrick Lamar')
    FO_df.to_excel(writer, sheet_name = 'Frank Ocean')
    PW_df.to_excel(writer, sheet_name = 'Parrell Williams')